<div class="p-3 mb-2 bg-info text-white fixed-bottom">
    <div class="footer"><br>
        <h2 class="contactos" id="contactos">Contactanos</h2>
        <div class="row">
          <a class="col-lg-3 col-sm-6 col-xs-12"
            href="https://wa.me/59174439889?text=Hola me podria brindar mas informacion sobre Sneaker Xavi"><i
              class='bx bxl-whatsapp bx-md'></i>74439889</a>
          <a class="col-lg-3 col-sm-6 col-xs-12" href="https://www.instagram.com/"><i
              class='bx bxl-instagram bx-md'></i>Xavi Store</a>
          <a class="col-lg-3 col-sm-6 col-xs-12" href="https://twitter.com/"><i class='bx bxl-twitter bx-md'></i>Xavi
            Sneaker</a>
          <a class="col-lg-3 col-sm-6 col-xs-12" href="https://www.facebook.com/diogo.mamanacondori?locale=es_LA">
            <i class='bx bxl-facebook bx-md'></i>Sneaker Xavier
          </a>
        </div>
      </div><br>
</div>
