<div>
  <h5 class="modal-title text-center" id="exampleModalScrollableTitle" text>
    REGISTRO DE PEDIDO
  </h5>
</div>

<div class="card mt-2">
  <div class="card-body">
    <form #regPedidoForm="ngForm" (ngSubmit)="onSubmit(regPedidoForm)">
      <input
        type="hidden "
        style="display:none"
        name="$key"
        #$key="ngModel"
        [(ngModel)]="regPedidoService.selectedRegPedido.$key"
      />

      <div class="form-group row">
        <div class="col">
          <label for="cliente">CLIENTE *</label>

          <select
            name="cliente"
            class="custom-select"
            id="cliente"
            #cliente="ngModel"
            (change)="datosCliente($event.target.value)"
            [(ngModel)]="regPedidoService.selectedRegPedido.cliente"
            required
          >
            <option selected="true" value="null">Seleccione un C.I.</option>
            <option *ngFor="let cliente of ciCliente"> {{ cliente.ci }}</option>
          </select>

          <div>
            <div *ngIf="ciClient" class="col mt-3">
              <div class="row">
                <label for=""> <b>Nombre: </b> {{ nameClient }}</label>
              </div>
              <div class="row">
                <label for=""> <b>Apellido: </b> {{ apellidosClient }}</label>
              </div>
              <div class="row">
                <label for="">
                  <b>Cedula de Identidad: </b> {{ ciClient }}</label
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="text-danger col"
              *ngIf="cliente.errors && (cliente.dirty || cliente.touched)"
            >
              <p [hidden]="!cliente.errors.required">
                Campo requerido.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <label for="sucursal">SUCURSAL *</label>
          <select
            name="sucursal"
            class="custom-select"
            id="sucursal"
            #sucursal="ngModel"
            [(ngModel)]="regPedidoService.selectedRegPedido.sucursal"
            required
          >
            <option selected>Seleccionar Sucursal</option>
            <option *ngFor="let sucu of nombre" value="{{ sucu.descripcion }}">
              {{ sucu.descripcion }}</option
            >
          </select>
          <div class="row">
            <div
              class="text-danger col"
              *ngIf="sucursal.errors && (sucursal.dirty || sucursal.touched)"
            >
              <p [hidden]="!sucursal.errors.required">
                Campo requerido.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <label for="sucursal">PERSONAL</label>
          <div>
            <input
              type="text"
              class="form-control"
              name="personal"
              id="personal"
              #descripcion="ngModel"
              [(ngModel)]="regPedidoService.selectedRegPedido.personal"
              value="{{ nombrePersonal }}"
              disabled
            />
          </div>
          <!-- <select
            name="personal"
            class="custom-select"
            id="personal"
            #descripcion="ngModel"
            [(ngModel)]="regPedidoService.selectedRegPedido.personal"
          >
            <option selected>Seleccionar Personal</option>
            <option *ngFor="let per of nombrePersonal" value="{{ per.nombre }}">
              {{ per.nombre }}</option
            >
          </select> -->
        </div>
        <div class="col">
          <label for="sucursal">FECHA DE PEDIDO *</label>
          <input
            type="date"
            class="form-control"
            name="fechaPedido"
            #fechaPedido="ngModel"
            [(ngModel)]="regPedidoService.selectedRegPedido.fechaPedido"
            placeholder="Fecha de Pedido"
            required
          />
          <div class="row">
            <div
              class="text-danger col"
              *ngIf="
                fechaPedido.errors && (fechaPedido.dirty || fechaPedido.touched)
              "
            >
              <p [hidden]="!fechaPedido.errors.required">
                Campo requerido.
              </p>
            </div>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModalScrollable"
        [disabled]="addItemRegistro"
        (click)="resetItemRegistro()"
      >
        <i class="fas fa-plus-circle"></i>
        Agregar Item Registro
      </button>

      <form class="form-inline my-2 my-lg-0"></form>
      <div
        class="modal fade"
        id="exampleModalScrollable"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-lg modal-dialog-scrollable"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">
                Lista de Pedidos
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card mt-2">
                <div class="card-body">
                  <form
                    #itemRegistroForm="ngForm"
                    (ngSubmit)="onSubmitPedido(itemRegistroForm)"
                  >
                    <input
                      type="hidden "
                      style="display:none"
                      name="$key"
                      #$key="ngModel"
                      [(ngModel)]="
                        itemRegistroService.selectedItemRegistro.$key
                      "
                    />

                    <div>
                      <div *ngIf="imgSrc" class="image_wrapper row" id="img1">
                        <img
                          [src]="imgSrc"
                          #image
                          width="100"
                          height="120"
                          (click)="deletImg(image.src)"
                          required
                        />
                        <button
                          type="button"
                          class="remove"
                          (click)="deletImg()"
                        >
                          <i class="fas fa-minus-circle"></i>
                        </button>
                      </div>
                      <div class="form-group col">
                        <div>
                          <label for="">MODELO *</label>
                        </div>
                        <input
                          type="file"
                          placeholder="Agregar Modelo de la Prenda"
                          (change)="uploadFile1($event)"
                          #fileUploader
                          required
                        />
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar progress-bar-striped bg-success"
                          role="progressbar"
                          [style.width]="(uploadPercent | async) + '%'"
                        ></div>
                      </div>
                      <input
                        id="urlImageValue"
                        type="hidden"
                        name=""
                        [value]="urlImage | async"
                      />
                    </div>

                    <div class="row">
                      <div class="form-group col">
                        <label for="">CODIGO *</label>
                        <div></div>
                        <input
                          id="idRegistro"
                          type="text"
                          class="form-control"
                          name="idRegistro"
                          #idRegistro="ngModel"
                          [(ngModel)]="
                            itemRegistroService.selectedItemRegistro.idRegistro
                          "
                          placeholder="Codigo de Registro"
                          value="{{ ciClient }}"
                          disabled="true"
                        />
                      </div>

                      <div class="form-group col">
                        <label for="">DESCRIPCION DE LA PRENDA *</label>
                        <input
                          id="idPrenda"
                          type="text"
                          class="form-control"
                          name="prenda"
                          #prenda="ngModel"
                          [(ngModel)]="
                            itemRegistroService.selectedItemRegistro.prenda
                          "
                          placeholder="Descripcion de la Prenda"
                          required
                          maxlength="50"
                          minlength="3"
                        />
                        <div class="row">
                          <div *ngIf="prenda.value != undefined" class="col">
                            <p>Max: {{ prenda.value.length }}/50</p>
                          </div>

                          <div
                            class="text-danger col"
                            *ngIf="
                              prenda.errors && (prenda.dirty || prenda.touched)
                            "
                          >
                            <p [hidden]="!prenda.errors.required">
                              Campo requerido.
                            </p>
                            <p *ngIf="prenda.errors?.minlength">
                              Mínimo 3 caracteres
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col">
                        <label for="">CANTIDAD *</label>
                        <input
                          id="idCantidad"
                          type="number"
                          class="form-control"
                          name="cantidad"
                          #cantidad="ngModel"
                          [(ngModel)]="
                            itemRegistroService.selectedItemRegistro.cantidad
                          "
                          placeholder="Cantidad"
                          required
                          maxlength="5"
                          minlength="1"
                        />
                        <div class="row">
                          <div *ngIf="cantidad.value != undefined" class="col">
                            <p>Max: {{ cantidad.value.length }}/5</p>
                          </div>

                          <div
                            class="text-danger col"
                            *ngIf="
                              cantidad.errors &&
                              (cantidad.dirty || cantidad.touched)
                            "
                          >
                            <p [hidden]="!cantidad.errors.required">
                              Campo requerido.
                            </p>
                            <p *ngIf="cantidad.errors?.minlength">
                              Mínimo 1 caracteres
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group col">
                        <label for="">COSTO UNITARIO *</label>
                        <input
                          id="idCostoUnitario"
                          type="number"
                          class="form-control"
                          name="costoUnitario"
                          #costoUnitario="ngModel"
                          [(ngModel)]="
                            itemRegistroService.selectedItemRegistro
                              .costoUnitario
                          "
                          placeholder="Costo Unitario"
                          required
                          maxlength="5"
                          minlength="1"
                        />
                        <div class="row">
                          <div
                            *ngIf="costoUnitario.value != undefined"
                            class="col"
                          >
                            <p>Max: {{ costoUnitario.value.length }}/5</p>
                          </div>

                          <div
                            class="text-danger col"
                            *ngIf="
                              costoUnitario.errors &&
                              (costoUnitario.dirty || costoUnitario.touched)
                            "
                          >
                            <p [hidden]="!costoUnitario.errors.required">
                              Campo requerido.
                            </p>
                            <p *ngIf="costoUnitario.errors?.minlength">
                              Mínimo 1 caracteres
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col">
                      <label for="">COLOR *</label>
                      <input
                        id="idColor"
                        type="text"
                        class="form-control"
                        name="color"
                        #color="ngModel"
                        [(ngModel)]="
                          itemRegistroService.selectedItemRegistro.color
                        "
                        placeholder="Color de la Prenda"
                        required
                        maxlength="20"
                        minlength="3"
                      />
                      <div class="row">
                        <div *ngIf="color.value != undefined" class="col">
                          <p>Max: {{ color.value.length }}/5</p>
                        </div>

                        <div
                          class="text-danger col"
                          *ngIf="color.errors && (color.dirty || color.touched)"
                        >
                          <p [hidden]="!color.errors.required">
                            Campo requerido.
                          </p>
                          <p *ngIf="color.errors?.minlength">
                            Mínimo 3 caracteres
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="row"></div>

                    <div class="modal-footer">
                      <button
                        class="btn btn-primary"
                        type="submit"
                        [disabled]="!itemRegistroForm.valid"
                      >
                        <i class="fas fa-plus-circle">Agregar </i>
                      </button>
                      <button
                        class="btn btn-secondary "
                        type="reset"
                        (click)="resetItemRegistro()"
                      >
                        <i class=" fas fa sync-alt"> Limpiar </i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="ciClient">
        <!--mostrar taabla-->
        <!-- <div *ngIf="{{ciClient}}"> -->
        <div clase="card">
          <div class="card-body">
            <h3 class="text-center">
              DETALLE DEL PEDIDO
            </h3>
            <table class="table ">
              <thead>
                <tr>
                  <th scope="col">ID REGISTRO</th>
                  <th scope="col">TIPO DE PRENDA</th>
                  <th scope="col">CANTIDAD</th>
                  <th scope="col">COSTO UNITARIO</th>
                  <th scope="col">COSTO TOTAL</th>
                  <th scope="col">MODELO</th>
                  <th scope="col">COLOR</th>
                  <th scope="col">EVENTO</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemRegistro of itemRegistroList">
                  <td>{{ itemRegistro.idRegistro }}</td>
                  <td>{{ itemRegistro.prenda }}</td>
                  <td>{{ itemRegistro.cantidad }}</td>
                  <td>{{ itemRegistro.costoUnitario }}</td>
                  <td>{{ itemRegistro.costoTotal }}</td>
                  <td>
                    <img
                      src="{{ itemRegistro.modelo }}"
                      alt=""
                      id=""
                      width="70"
                      height="70"
                    />
                  </td>
                  <td>{{ itemRegistro.color }}</td>
                  <a
                    class="btn btn-secondary text-white"
                    (click)="onEdit(itemRegistro)"
                    data-toggle="modal"
                    data-target="#exampleModalScrollable"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <a
                    class="btn btn-danger text-white"
                    (click)="onDelete(itemRegistro.$key)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="sucursal">COSTO TOTAL</label>
            <input
              disabled="true;"
              type="text"
              id="costoTotal"
              class="form-control"
              name="costoTotal"
              #costoTotal="ngModel"
              [(ngModel)]="regPedidoService.selectedRegPedido.costoTotal"
              value="{{ ct }}"
              required
            />
          </div>
          <div class="col">
            <label for="sucursal">REGISTRAR ADELANTO</label>
            <input
              id="adelanto"
              type="text"
              class="form-control"
              name="adelanto"
              #adelanto="ngModel"
              [(ngModel)]="regPedidoService.selectedRegPedido.adelanto"
              placeholder="Registrar Adelanto"
              (change)="valorAdelanto($event)"
            />
          </div>
          <div class="col">
            <label for="sucursal">SALDO</label>
            <input
              id="saldo"
              disabled="true"
              type="text"
              class="form-control"
              name="saldo"
              #saldo="ngModel"
              [(ngModel)]="regPedidoService.selectedRegPedido.saldo"
              value="{{ saldoPagar }}"
              required
            />
          </div>

          <div class="form-group col">
            <label>FECHA DE LIMITE *</label>
            <input
              type="date"
              class="form-control"
              name="fechaLimite"
              #fechaLimite="ngModel"
              [(ngModel)]="regPedidoService.selectedRegPedido.fechaLimite"
              placeholder="Fecha de Limite"
              required
            />
            <div class="row">
              <div
                class="text-danger col"
                *ngIf="
                  fechaLimite.errors &&
                  (fechaLimite.dirty || fechaLimite.touched)
                "
              >
                <p [hidden]="!fechaLimite.errors.required">
                  Campo requerido.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!regPedidoForm.valid"
          >
            <i class="fas fa-plus-circle">Agregar </i>
          </button>
          <button
            class="btn btn-secondary "
            type="reset"
            (click)="resetForm(regPedidoForm)"
          >
            <i class=" fas fa sync-alt"> Limpiar </i>
          </button>
          <button
            class="btn btn-outline-success my-2 my-sm-0"
            [disabled]="!regPedidoForm.valid"
            (click)="generarReporte()"
          >
            Imprimir Registro
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
