.img{
    width: 20;
    height: 20;
}


.image_wrapper:hover .add, .image_wrapper:hover .remove {
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    opacity: 0.8;
}

/* Posicionamos los botones en la posicion izquierda y derecha */
.image_wrapper .add {
    left:0px;
}
.image_wrapper .remove {
    right:0px;
}
.image_wrapper {
    position:relative;
    width:102px;
    float:left;
    margin:10px;
}

.image_wrapper .image {
    border:1px solid #ccc;
    width:100px;
    height:120px;
}

/* Definimos el formato de las imagenes */
.image_wrapper .add, .image_wrapper .remove {
    position:absolute;
    top:0px;
    opacity:0;
    transition:opacity 0.2s linear;
    -webkit-transition:opacity 0.5s linear;
    cursor:pointer;
    border:0px;
    width:32px;
    height:32px;
}
