<!-- Button trigger modal -->
<form class="form-inline my-2 my-lg-0">
  <!-- <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModalScrollable"
  >
    <i class="fas fa-plus-circle"></i>
    Agregar Almacen
  </button> -->

  <input
    class="form-control mr-sm-2"
    type="text"
    name="filterPost"
    placeholder="Buscar Articulo"
    aria-label="Search"
    [(ngModel)]="filterPost"
  />
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="generarReporte()">
    Generar Reporte
  </button>
</form>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalScrollable"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">
          Registro de Clientes
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--almacen insertar -->

        <div class="card mt-5">
          <div class="card-body">
            <form #almacenForm="ngForm" (ngSubmit)="onSubmit(almacenForm)">
              <input
                type="hidden "
                style="display:none"
                name="$key"
                #$key="ngModel"
                [(ngModel)]="almacenService.selectedAlmacen.$key"
              />

              <div class="form-group">
                <input
                  maxlength="5"
                  type="text"
                  class="form-control"
                  name="descripcion"
                  #descripcion="ngModel"
                  [(ngModel)]="almacenService.selectedAlmacen.descripcion"
                  placeholder="Agregar Descripcion"
                />
                <p>min; 3 caracteres</p>
              </div>
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  name="entrada"
                  #entrada="ngModel"
                  [(ngModel)]="almacenService.selectedAlmacen.entrada"
                  placeholder="Agregar Entrada"
                />
              </div>
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  name="salida"
                  #salida="ngModel"
                  [(ngModel)]="almacenService.selectedAlmacen.salida"
                  placeholder="Agregar Salida"
                />
              </div>

              <!-- <div class="form-group">
                                      <input
                                      type="text"
                                      class="form-control"
                                      name="total"
                                      #total="ngModel"
                                      [(ngModel)]="almacenService.selectedAlmacen.total"
                                      placeholder="Agredar Total"
                                      >
                                  </div> -->
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="estado"
                  #estado="ngModel"
                  [(ngModel)]="almacenService.selectedAlmacen.estado"
                  placeholder="Agregar Estado"
                />
              </div>

              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-plus-circle">Agregar </i>
                </button>
                <button
                  class="btn btn-secondary "
                  type="reset"
                  (click)="resetForm(almacenForm)"
                >
                  <i class=" fas fa sync-alt"> Limpiar </i>
                </button>
              </div>
            </form>
          </div>
        </div>

        <!---->
      </div>
      <!-- <div class="modal-footer">
            <button class ="btn btn-primary" type="submit">
                <i class="fas fa-plus-circle">Agregar </i>

            </button>
            <button class="btn btn-secondary " type="reset" (click)="resetForm(AlmacenForm)">
                <i class=" fas fa sync-alt"> Limpiar </i>


            </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
        </div> -->
    </div>
  </div>
</div>

<!--mostrar taabla-->

<div clase="card">
  <div class="card-body">
    <h2 class="text-center">LISTA DE ALMACEN</h2>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">DESCRIPCION</th>

          <th scope="col">ENTRADA</th>
          <th scope="col">SALIDA</th>
          <th scope="col">TOTAL</th>
          <th scope="col">ESTADO</th>
          <!-- <th scope="col">ACCION</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let descripcion of desInsumo"> -->
        <!-- <td>{{descripcion.detalle}}</td>
          <td>{{detalleInsumo}}</td>
        </tr> -->

        <tr *ngFor="let almacen of almacenList | almacenFilter: filterPost">
          <td>{{ almacen.descripcion }}</td>
          <td>{{ almacen.entrada }}</td>
          <td>{{ almacen.salida }}</td>
          <td>{{ almacen.total }}</td>
          <td>{{ almacen.estado }}</td>

          <!-- <a
            class="btn btn-secondary text-white"
            (click)="onEdit(almacen)"
            data-toggle="modal"
            data-target="#exampleModalScrollable"
          >
            <i class="fas fa-edit"></i>
          </a>
          <a class="btn btn-danger text-white" (click)="onDelete(almacen.$key)">
            <i class="fas fa-trash-alt"></i>
          </a> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!---->

<!--
<table class="table table-striped">
        <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{personal.nombre}}</td>
        <td>{{personal.apellido}}</td>
        <td>{{personal.ci}}</td>
        <td>{{personal.expedicion}}</td>
        <td>
          <a class="btn btn-secondary text-white" (click)="onEdit(Personal)">
            <i class="fas fa-edit"></i>
          </a>
          <a class="btn btn-danger text-white" (click)="onDelete(Personal.$key)">
              <i class="fas fa-trash-alt"></i>
            </a>
        </td>
      
      </tr>
      
    </tbody>
  </table>
-->
