<div class="card m-3">
  <h3 class="mt-2 text-center">
    Registro de Gastos
  </h3>
  <div class="modal-body">
    <div class="">
      <div class="card-body">
        <form #cajaF="ngForm" (ngSubmit)="onSubmit(cajaF)">
          <input
            type="hidden "
            style="display:none"
            name="$key"
            #$key="ngModel"
            [(ngModel)]="cajaService.selectedCaja.$key"
          />

          <div class="row">
            <div class="form-group col">
              <label for="">Monto de Gasto (Bs.) *</label>
              <input
                type="number"
                class="form-control"
                name="salida"
                #salida="ngModel"
                [(ngModel)]="cajaService.selectedCaja.salida"
                placeholder="Registrar Monto de Gasto"
                required
                maxlength="10"
              />
              <div class="row">
                <div *ngIf="salida.value != undefined" class="col">
                  <p>Max: {{ salida.value.length }}/10</p>
                </div>

                <div
                  class="text-danger col"
                  *ngIf="salida.errors && (salida.dirty || salida.touched)"
                >
                  <p [hidden]="!salida.errors.required">
                    Campo requerido.
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label for="">Descripcion de Gasto *</label>
              <input
                type="text"
                class="form-control"
                name="glosa"
                #glosa="ngModel"
                [(ngModel)]="cajaService.selectedCaja.glosa"
                placeholder="Agregar Detalle del Gasto"
                required
                maxlength="50"
                minlength="5"
              />
              <div class="row">
                <div *ngIf="glosa.value != undefined" class="col">
                  <p>Max: {{ glosa.value.length }}/50</p>
                </div>

                <div
                  class="text-danger col"
                  *ngIf="glosa.errors && (glosa.dirty || glosa.touched)"
                >
                  <p [hidden]="!glosa.errors.required">
                    Campo requerido.
                  </p>
                  <p *ngIf="glosa.errors?.minlength">
                    Mínimo 5 caracteres
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label for="">Fecha de Gasto *</label>
              <input
                type="date"
                class="form-control"
                name="fecha"
                #fecha="ngModel"
                [(ngModel)]="cajaService.selectedCaja.fecha"
                placeholder="Registrar Fecha de Ingreso"
                required
              />
              <div class="row">
                <div
                  class="text-danger col"
                  *ngIf="fecha.errors && (fecha.dirty || fecha.touched)"
                >
                  <p [hidden]="!fecha.errors.required">
                    Campo requerido.
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group col">
              <label for="">Personal *</label>
              <input
                type="text"
                class="form-control"
                name="personal"
                #personal="ngModel"
                [(ngModel)]="cajaService.selectedCaja.personal"
                placeholder="Agregar Personal"
                required
                maxlength="50"
                minlength="5"
              />
              <div class="row">
                <div *ngIf="personal.value != undefined" class="col">
                  <p>Max: {{ personal.value.length }}/50</p>
                </div>

                <div
                  class="text-danger col"
                  *ngIf="personal.errors && (personal.dirty || personal.touched)"
                >
                  <p [hidden]="!personal.errors.required">
                    Campo requerido.
                  </p>
                  <p *ngIf="personal.errors?.minlength">
                    Mínimo 5 caracteres
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button [disabled]="!cajaF.valid" class="btn btn-primary" type="submit">
              <i class="fas fa-plus-circle">Agregar </i>
            </button>
            <button
              class="btn btn-secondary "
              type="reset"
              (click)="resetForm(cajaForm)"
            >
              <i class=" fas fa sync-alt"> Limpiar </i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
