<form #formLogin="ngForm" (submit)="onXavi()">
<div class="p-0 bg-info ">
  <div class="heder">
    <div class=" ml-4 col-0">
      <img src="assets/images/logo/logo.png" alt="logo" height="65" class="rounded-circle" />
    </div>
    <div class="col-9 text-center">
      <div class="color">
        <h3>Ferreteria Luis</h3>
      </div>
      <div class="color2">
        <p>Lo que buscas lo tenemos aqui... </p>
      </div>
    </div>
    <div class="categorias">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        CATEGORIAS
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#cervezas">MUEBLES</a>
        <a class="dropdown-item" href="#whisky">BLINDEX</a>
        <a class="dropdown-item" href="#roones">PLOMERIA</a>
        <a class="dropdown-item" href="#otros">OTROS</a>
      </div>
    </div>
  </div>
  <div *ngIf="isAdmin">
    <a class="nav-link" href="" (click)="onClickLogout()">Salir</a>
  </div>

    <div class=" ml-4 col-0">
      <!-- <button type="button" class="btn btn-secondary">Login</button> -->
       <div *ngIf="!isAdmin">
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
           data-whatever="@fat">Login</button>
       </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Iniciar sesión</h5>
            </div>
            <div class="modal-body">
         
                <div class="container">
                  <div class="logo">
                    <img src="assets/images/logo/logo.png" alt="logo" height="100" class="rounded-circle" />
                  </div>
                  <div class="col">
                    <div class="col">
                      <label for="uname"><b>Introducir Correo</b></label>
                      <input [(ngModel)]="email" type="email" placeholder="Introducir Correo" name="email"
                        class="form-control" required />
                    </div>
                      <br>
                    <div class="col">
                      <label for="psw"><b>Contraseña</b></label>
                      <input [(ngModel)]="password" type="password" placeholder="Introducir Contraseña" name="password"
                        id="password" class="form-control" required />
                    </div>
                  </div>
                </div>
          
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Ingresar</button>
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
              (click)="irRegistro()">Registrarse</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isAdmin">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/clientes">Clientes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/catalogos">Productos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/r-trabajo">Catalogo</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Caja
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Registar ingresos</a>
          <a class="dropdown-item">Registar gastos</a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Caja
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/caja">Flujo de caja</a>
          <a class="dropdown-item" routerLink="/ingresos">Registrar Ingresos</a>
          <a class="dropdown-item" routerLink="/gastos">Registrar Egresos</a>
        </div>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" href="" (click)="onClickLogout()">Salir</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isAdminXavi">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" > -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/personal-list">Personal <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/insumos">Productos</a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/sucursal">Sucursal</a>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/proveedor">Proveedores</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/clientes">Clientes</a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/prendas">Prendas</a>
      </li> -->
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/cotizacion">Cotizar</a>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/almacen">Almacen</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/compra">Compras</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dispensacion">Ventas</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" routerLink="/poleras">Poleras</a>
            <a class="dropdown-item" routerLink="/chamarras">Chamarras Deportivas</a>
            <a class="dropdown-item" routerLink="/buzos">Buzos Deportivos</a> -->
          <a class="dropdown-item" routerLink="/r-trabajo">Productos</a>
          <a class="dropdown-item" routerLink="/catalogos">Agregar Productos</a>
          <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" routerLink="/registropedidolist"
            >Registro de Pedidos</a
          >
          <a class="dropdown-item" routerLink="/entregas">Entrega de Pedidos</a>
          <a class="dropdown-item" routerLink="/itemRegistro">Item Registro</a> -->
          <!-- <a class="dropdown-item" routerLink="/itemRegistro">Item Registro</a> -->
          <a class="dropdown-item" routerLink="/usuarios">Registrar Usuario</a>

          <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Caja
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/caja">Flujo de caja</a>
          <a class="dropdown-item" routerLink="/ingresos">Registrar Ingresos</a>
          <a class="dropdown-item" routerLink="/gastos">Registrar Egresos</a>

          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="" (click)="onClickLogout()">Salir</a>
      </li>
      <!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      -->
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isClient">
  <!-- <a class="navbar-brand" routerLink="/inicio">Inicio</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/personal-list">Personal <span class="sr-only">(current)</span></a>
      </li>

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/insumos">Insumos</a>
      </li> -->

      <li class="nav-item active">
        <a class="nav-link" routerLink="/sucursal">Sucursal</a>
      </li>

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/proveedor">Proveedores</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/clientes">Clientes</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/prendas">Prendas</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/cotizacion">Cotizar</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/almacen">Almacen</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/compra">Compra</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/dispensacion">Dispensacion</a>
      </li> -->

      <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Catalogo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/r-trabajo">Catalogo</a>
          <a class="dropdown-item" routerLink="/catalogos">Agregar Catalogo</a>
        </div>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/r-trabajo">Catalogo</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/registropedidolist">Registro de Pedidos</a>
          <a class="dropdown-item" routerLink="/entregas">Entrega de Pedidos</a>
          <a class="dropdown-item" routerLink="/itemRegistro">Item Registro</a>
          <a class="dropdown-item" routerLink="/usuarios">Registrar Usuario</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Caja
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/caja"> Registro de Caja</a>
          <a class="dropdown-item" routerLink="/ingresos">Registrar Ingresos</a>
          <a class="dropdown-item" routerLink="/gastos">Registrar Gastos</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="" (click)="onClickLogout()">Salir xavier</a>
      </li>
      <!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      -->
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isRecepcionista">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/personal-list"
          >Personal <span class="sr-only">(current)</span></a
        >
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/insumos">Insumos</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/sucursal">Sucursal</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/proveedor">Proveedores</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/clientes">Clientes</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/prendas">Prendas</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/cotizacion">Cotizar</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/almacen">Almacen</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/compra">Compra</a>
      </li> -->

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/dispensacion">Dispensacion</a>
      </li> -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Lista de Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/r-trabajo">Productos</a>
          <a class="dropdown-item" routerLink="/catalogos">Agregar Productos</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" routerLink="/registropedidolist"
            >Registro de Pedidos</a
          > -->
          <!-- <a class="dropdown-item" routerLink="/entregas">Entrega de Pedidos</a> -->
          <!-- <a class="dropdown-item" routerLink="/itemRegistro">Item Registro</a> -->
          <!-- <a class="dropdown-item" routerLink="/usuarios">Registrar Usuario</a> -->
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Caja
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/caja"> Flujo de caja</a>
          <a class="dropdown-item" routerLink="/ingresos">Registrar Ingresos</a>
          <a class="dropdown-item" routerLink="/gastos">Registrar Gastos</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="" (click)="onClickLogout()">Salir</a>
      </li>
    </ul>
  </div>
</nav>
</form>